.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center; 
  /* this also links to imagelinkform and others. this is why the input form and button are flex and centered */
}
.particles {
  position: fixed;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  /* z-index -1 ensures that the particles is underneath the others this className serves as a 
  second layer the number can be added on th z index... z index works with position fixed and absolute*/
  z-index: -1;
}
.footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 40px;
            background: rgb(78, 66, 87);
}